extends layout 

block content 
    if result
        div.container-fluid
            h1= title 
            p!= result.author 
            p!= result.date
            if privileges
                if privileges == 'admin'
                    form(method="GET" action=("/module/edit/" + result._id))
                        button.btn.btn-primary(style="margin: 1rem 0; padding: .5rem 2rem;") Edit 
            if result.headerImg
                img.img-fluid(src=(result.headerImg))
            if postContent 
                div!= postContent
            hr
            form(method="POST" action=("/posts/" + result._id + "/comment"))
                div.form-group
                    textarea(name="newComment" style="width: 100%" rows=5 placeholder="Write a comment")
                button.btn.btn-primary(type="Submit") Submit 
            if comments
                hr
                for x in comments
                    div.card.my-2
                        div.card-body.py-4.d-flex.flex-column.align-items-start
                            div.card-text.py-1
                                != x.comment
                            div.card-text.py-1.px-1.d-flex.justify-content-between(style="width: 100%;")
                                p!= " - " + x.user.username 
                                p!= x.date
